body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: sandybrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: brown;
}

form {
    padding: 10px;
    margin: 5px;
    background-color: wheat;
    border-radius: 10px;
}

fieldset {
    width: 300px;
    border-radius: 7px;
    margin: 10px;
}

input {
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
}

label {
    margin-top: 20px;
}

button {
    border-radius: 5px;
    padding: 3px;
    width: 70px;
}

input + p {
    margin-top: 0px;
    text-align: center;
}

.produto {
    margin-bottom: 0px;
    width: 175px;
}

.radio {
    margin-bottom: 0px;
    width: 20px;
    display: inline;
    align-self: left;
}

.radio-l {
    display: inline-block;
    margin: 0px;
    text-align: left;
    width: 40%;
}
